---
import HeroLogo from "@/components/HeroLogo.astro";
---

<section class="flex flex-col items-center justify-center gap-9">
    
    <span class="uppercase text-secondary dark:text-primary bg-primary dark:bg-secondary px-6 py-1 font-medium animate-fade-in animate-delay-300">
        Presentación de
    </span>

    <HeroLogo class="animate-blurred-fade-in animate-delay-500 max-w-[500px] h-auto" />
    <!-- bg-[url('/noisy-background.jpg')] shadow-lg blur-md -->
</section>