---
import HeroLogo from "@/components/HeroLogo.astro";
---

<section class="flex flex-col items-center justify-center gap-9">
    
    <span class="uppercase text-secondary bg-primary px-6 py-1 font-medium animate-fade-in animate-delay-300">
        Presentación de
    </span>

    <HeroLogo class="text-primary animate-blurred-fade-in animate-delay-500 w-full h-auto" />
</section>