---
// Layouts
import Layout from '@/layouts/Layout.astro';

// Views
import Countdown from '@/views/Countdown.astro';
import Footer from '@/views/Footer.astro';
import Hero from '@/views/Hero.astro';
import Info from '@/views/Info.astro';
import PrincipalDate from '@/views/PrincipalDate.astro';
---

<Layout title="La Velada V - Evento de boxeo de Ibai Llanos">
	<Hero />
	<main>
		<!-- <h1 class="text-white animate-blurred-fade-in">Velada IV</h1> -->
		<PrincipalDate />
		<Info />
		<Countdown />
	</main>
	<Footer />
</Layout>

<style>
	/*  */
</style>
