---
// Supports weights 100-900
import Noise from '@/components/Noise.astro';
import '@fontsource-variable/jost';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Pre-Landing de la Velada IV - Basado en Midudev" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<Noise />
		<div class="max-w-6xl px-10 pt-40 mx-auto"> <!-- 1152 - 40*2 ~ 1072px (imagen Figma oficial) -->
			<slot />
		</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: "Jost Variable" ,system-ui, sans-serif;
		background: #ddd;
	}
</style>
